{"version":2,"width":117,"height":12,"timestamp":1665637606,"env":{"TERM":"ms-terminal","SHELL":"powershell.exe"}}
[0.18806242942810059,"o","\u001b[?25l\u001b[2J\u001b[m\u001b[HPowerShell 7.2.6\r\nCopyright (c) Microsoft Corporation.\u001b[4;1Hhttps://aka.ms/powershell\r\nType 'help' to get help.\u001b[7;1H\u001b]0;C:\\Program Files\\PowerShell\\7\\pwsh.exe\u0007\u001b[?25h"]
[1.7632009983062744,"o","Welcome to soloopooo's Powershell.\r\nNow: \u001b[5m10/13/2022 13:06:48\u001b[25m\r\n \r\n"]
[3.5063889026641846,"o","\nLoading personal and system profiles took 2741ms.\r"]
[3.506678819656372,"o","\n"]
[3.6949753761291504,"o","\u001b[38;2;36;36;36m\u001b[7m \u001b[38;2;241;24;76m\u001b[48;2;36;36;36m\u001b[27m soloopooo \u001b[38;2;255;187;0m2022-10-13 13:06:50.3931   \u001b[38;2;51;221;45mD:/stable-diffusion-webui  \u001b[38;2;58;134;255mmaster \u001b[38;2;36;36;36m\u001b[48;2;51;221;45m     \u001b[38;2;51;221;45m\u001b[48;2;33;47;218m  \u001b[38;2;255;255;255m0ms \u001b[38;2;33;47;218m\u001b[49m\u001b[K\u001b[1C"]
[3.7084362506866455,"o","\u001b[m\r\n\u001b[38;2;241;24;76m$\u001b[2C"]
[3.724250316619873,"o","\u001b[m"]
[4.8623199462890625,"o","\u001b[93mq"]
[4.8782148361206055,"o","\u001b[m"]
[5.248080492019653,"o","\b \b"]
[5.404805421829224,"o","\u001b[93mw"]
[5.420760869979858,"o","\u001b[m"]
[5.638426065444946,"o","\u001b[93m\bwe"]
[5.653835296630859,"o","\u001b[m"]
[6.0142505168914795,"o","\u001b[?25l\u001b[93m\u001b[12;4Hweb\u001b[?25h"]
[6.0293755531311035,"o","\u001b[m"]
[6.26296067237854,"o","\u001b[?25l\u001b[93m\u001b[12;4Hwebu\u001b[?25h"]
[6.279007911682129,"o","\u001b[m"]
[6.4666478633880615,"o","\u001b[?25l\u001b[93m\u001b[12;4Hwebui\u001b[?25h"]
[6.482248067855835,"o","\u001b[m"]
[7.068899393081665,"o","\u001b[?25l\u001b[37m\u001b[12;4H& \u001b[36m'.\\webui\u001b[30m\u001b[47m-user - 0.bat'"]
[7.069473743438721,"o","\u001b[m\r\nwebui-user - 0.bat     webui-user.sh             webui.py                  webuix-pcpu-ram.xlsx\u001b[15C"]
[7.072120904922485,"o","\r\n\u001b[30m\u001b[47m\u001b[11;1Hwebui-user - 0.bat     \u001b[m\r\nwebui-user.bat            webui.bat                 webui.sh\r\u001b[?25h"]
[7.072341680526733,"o","\n"]
[7.076421022415161,"o","\u001b[?25l\n\u001b[96mD:\\stable-diffusion-webui\\webui-user - 0.bat\u001b[8;14H\u001b[?25h"]
[7.092335224151611,"o","\u001b[m"]
[7.591213226318359,"o","\u001b[?25l\u001b[37m\u001b[8;4H& \u001b[36m'.\\webui-user - 0.bat'\u001b[m\r\n\u001b[K\r\n\u001b[K\r\n\u001b[K\r\n\u001b[K\u001b[8;31H\u001b[?25h"]
[7.715046644210815,"o","\r\n"]
[7.824284553527832,"o","venv \"D:\\stable-diffusion-webui\\venv\\Scripts\\Python.exe\"\r\n"]
[8.043083906173706,"o","Python 3.10.7 (tags/v3.10.7:6cc6b13, Sep  5 2022, 14:08:36) [MSC v.1933 64 bit (AMD64)]\r\nCommit hash: 80f3cf2bb2ce3f00d801cae2c3a8c20a8d4167d8\r\n"]
[10.354071617126465,"o","Installing requirements for Web UI\r"]
[10.367569923400879,"o","\n"]
[14.281180143356323,"o","Launching Web UI with arguments: --listen --xformers --disable-safe-unpickle --medvram --no-half --precision full\r"]
[14.30178427696228,"o","\n"]
[22.796812534332275,"o","Loading config from: D:\\stable-diffusion-webui\\models\\Stable-diffusion\\final-pruned.yaml\r"]
[22.809725046157837,"o","\n"]
[24.140393018722534,"o","LatentDiffusion: Running in eps-prediction mode\r"]
[24.163843870162964,"o","\n"]
[30.379265069961548,"o","DiffusionWrapper has 859.52 M params.\r"]
[30.392565965652466,"o","\n"]
[30.5855815410614,"o","making attention of type 'vanilla' with 512 in_channels\r"]
[30.593753337860107,"o","\n"]
[30.617400407791138,"o","Working with z of shape (1, 4, 64, 64) = 16384 dimensions.\r"]
[30.639321327209473,"o","\n"]
[30.642337322235107,"o","making attention of type 'vanilla' with 512 in_channels\r"]
[30.654961347579956,"o","\n"]
[40.59742259979248,"o","Loading weights [925997e9] from D:\\stable-diffusion-webui\\models\\Stable-diffusion\\final-pruned.ckpt\r"]
[40.60813665390015,"o","\n"]
[43.25853157043457,"o","Loading VAE weights from: D:\\stable-diffusion-webui\\models\\Stable-diffusion\\final-pruned.vae.pt\r"]
[43.27065348625183,"o","\n"]
[44.23049354553223,"o","Applying xformers cross attention optimization.\r"]
[44.23465347290039,"o","\nModel loaded.\r"]
[44.23934888839722,"o","\n"]
[46.0674889087677,"o","Loaded a total of 12 textual inversion embeddings.\r"]
[46.08258843421936,"o","\n"]
[49.40652346611023,"o","Running on local URL:  http://0.0.0.0:7860\r"]
[49.406662464141846,"o","\n"]
[49.406787395477295,"o","\nTo create a public link, set `share=True` in `launch()`.\r"]
[49.4230432510376,"o","\n"]
[82.93621850013733,"o","Data shape for DDIM sampling is (1, 4, 96, 64), eta 0.67\r"]
[82.93642234802246,"o","\nRunning DDIM Sampling with 25 timesteps\r"]
[82.94490551948547,"o","\n  0%|                                                                                        | 0/25 [00:00<?, ?it/s] \u001b[12;117H"]
[89.15091824531555,"o","\r"]
[89.17326283454895,"o","\u001b[?25l\n\u001b[11;1H  4%|███▏                                                                            | 1/25 [00:06<02:29,  6.21s/it]\r\nTotal progress:   0%|                                                                        | 0/25 [00:00<?, ?it/s] \u001b[11;117H\u001b[?25h"]
[91.68489074707031,"o","\r  8%|██████▍                                                                         | 2/25 [00:08<01:32,  4.04s/it]\r\nTotal progress:   8%|█████                                                           | 2/25 [00:02<00:28,  1.26s/it]\u001b[11;117H"]
[95.65159606933594,"o","\r 12%|█████████▌                                                                      | 3/25 [00:12<01:28,  4.01s/it]\r\nTotal progress:  12%|███████▋                                                        | 3/25 [00:06<00:52,  2.39s/it]\u001b[11;117H"]
[98.15805125236511,"o","\r 16%|████████████▊                                                                   | 4/25 [00:15<01:11,  3.41s/it]\r\nTotal progress:  16%|██████████▏                                                     | 4/25 [00:08<00:51,  2.43s/it]\u001b[11;117H"]
[102.13146209716797,"o","\r 20%|████████████████                                                                | 5/25 [00:19<01:12,  3.62s/it]\r\nTotal progress:  20%|████████████▊                                                   | 5/25 [00:12<00:59,  2.97s/it]\u001b[11;117H"]
[104.59367752075195,"o","\r 24%|███████████████████▏                                                            | 6/25 [00:21<01:01,  3.22s/it]\r\nTotal progress:  24%|███████████████▎                                                | 6/25 [00:15<00:53,  2.80s/it]\u001b[11;117H"]
[108.62979412078857,"o","\r 28%|██████████████████████▍                                                         | 7/25 [00:25<01:02,  3.49s/it]\r\nTotal progress:  28%|█████████████████▉                                              | 7/25 [00:19<00:57,  3.20s/it]\u001b[11;117H"]
[111.15770030021667,"o","\r 32%|█████████████████████████▌                                                      | 8/25 [00:28<00:54,  3.18s/it]\r\nTotal progress:  32%|████████████████████▍                                           | 8/25 [00:21<00:50,  2.99s/it]\u001b[11;117H"]
[115.1991376876831,"o","\r 36%|████████████████████████████▊                                                   | 9/25 [00:32<00:55,  3.45s/it]\r\nTotal progress:  36%|███████████████████████                                         | 9/25 [00:26<00:53,  3.31s/it]\u001b[11;117H"]
[117.74559259414673,"o","\r 40%|███████████████████████████████▌                                               | 10/25 [00:34<00:47,  3.17s/it]\r\nTotal progress:  40%|█████████████████████████▏                                     | 10/25 [00:28<00:46,  3.08s/it]\u001b[11;117H"]
[121.81496500968933,"o","\r 44%|██████████████████████████████████▊                                            | 11/25 [00:38<00:48,  3.45s/it]\r\nTotal progress:  44%|███████████████████████████▋                                   | 11/25 [00:32<00:47,  3.38s/it]\u001b[11;117H"]
[124.43214917182922,"o","\r 48%|█████████████████████████████████████▉                                         | 12/25 [00:41<00:41,  3.19s/it]\r\nTotal progress:  48%|██████████████████████████████▏                                | 12/25 [00:35<00:40,  3.15s/it]\u001b[11;117H"]
[128.45709586143494,"o","\r 52%|█████████████████████████████████████████                                      | 13/25 [00:45<00:41,  3.44s/it]\r\nTotal progress:  52%|████████████████████████████████▊                              | 13/25 [00:39<00:40,  3.41s/it]\u001b[11;117H"]
[131.022935628891,"o","\r 56%|████████████████████████████████████████████▏                                  | 14/25 [00:48<00:34,  3.18s/it]\r\nTotal progress:  56%|███████████████████████████████████▎                           | 14/25 [00:41<00:34,  3.16s/it]\u001b[11;117H"]
[135.08174443244934,"o","\r 60%|███████████████████████████████████████████████▍                               | 15/25 [00:52<00:34,  3.44s/it]\r\nTotal progress:  60%|█████████████████████████████████████▊                         | 15/25 [00:45<00:34,  3.43s/it]\u001b[11;117H"]
[137.6548616886139,"o","\r 64%|██████████████████████████████████████████████████▌                            | 16/25 [00:54<00:28,  3.18s/it]\r\nTotal progress:  64%|████████████████████████████████████████▎                      | 16/25 [00:48<00:28,  3.17s/it]\u001b[11;117H"]
[141.63648748397827,"o","\r 68%|█████████████████████████████████████████████████████▋                         | 17/25 [00:58<00:27,  3.42s/it]\r\nTotal progress:  68%|██████████████████████████████████████████▊                    | 17/25 [00:52<00:27,  3.42s/it]\u001b[11;117H"]
[144.09870505332947,"o","\r 72%|████████████████████████████████████████████████████████▉                      | 18/25 [01:01<00:21,  3.14s/it]\r\nTotal progress:  72%|█████████████████████████████████████████████▎                 | 18/25 [00:54<00:21,  3.13s/it]\u001b[11;117H"]
[148.1911427974701,"o","\r 76%|████████████████████████████████████████████████████████████                   | 19/25 [01:05<00:20,  3.42s/it]\r\nTotal progress:  76%|███████████████████████████████████████████████▉               | 19/25 [00:59<00:20,  3.42s/it]\u001b[11;117H"]
[150.6985924243927,"o","\r 80%|███████████████████████████████████████████████████████████████▏               | 20/25 [01:07<00:15,  3.15s/it]\r\nTotal progress:  80%|██████████████████████████████████████████████████▍            | 20/25 [01:01<00:15,  3.14s/it]\u001b[11;117H"]
[154.73196172714233,"o","\r 84%|██████████████████████████████████████████████████████████████████▎            | 21/25 [01:11<00:13,  3.41s/it]\r\nTotal progress:  84%|████████████████████████████████████████████████████▉          | 21/25 [01:05<00:13,  3.41s/it]\u001b[11;117H"]
[157.27976155281067,"o","\r 88%|█████████████████████████████████████████████████████████████████████▌         | 22/25 [01:14<00:09,  3.15s/it]\r\nTotal progress:  88%|███████████████████████████████████████████████████████▍       | 22/25 [01:08<00:09,  3.15s/it]\u001b[11;117H"]
[161.2345564365387,"o","\r 92%|████████████████████████████████████████████████████████████████████████▋      | 23/25 [01:18<00:06,  3.40s/it]\r\nTotal progress:  92%|█████████████████████████████████████████████████████████▉     | 23/25 [01:12<00:06,  3.39s/it]\u001b[11;117H"]
[163.709974527359,"o","\r 96%|███████████████████████████████████████████████████████████████████████████▊   | 24/25 [01:20<00:03,  3.12s/it]\r\nTotal progress:  96%|████████████████████████████████████████████████████████████▍  | 24/25 [01:14<00:03,  3.12s/it]\u001b[11;117H"]
[167.70423555374146,"o","\r100%|███████████████████████████████████████████████████████████████████████████████| 25/25 [01:24<00:00,  3.39s/it]\r\nTotal progress: 100%|███████████████████████████████████████████████████████████████| 25/25 [01:18<00:00,  3.38s/it]\u001b[12;1H"]
[169.54490542411804,"o","Total progress: 100%|███████████████████████████████████████████████████████████████| 25/25 [01:20<00:00,  3.22s/it]\u001b[12;1H"]
[169.54551100730896,"o","\n{\"prompt\": \"masterpiece,best quality,loli,animal ears,full body,white flower hair ornament, cute face, long hair,whit"]
[169.54591250419617,"o","\r\n\u001b[11;117Hte hair,star in eye, looking back ,from behind,small breasts , gold blue dress, detached sleeves ,from behind, white t"]
[169.54616022109985,"o","\r\n\u001b[11;117Hthighhighs, black thighhighs, cinematic lighting\", \"all_prompts\": [\"masterpiece,best quality,loli,animal ears,full bod"]
[169.54637503623962,"o","\r\n\u001b[11;117Hdy,white flower hair ornament, cute face, long hair,white hair,star in eye, looking back ,from behind,small breasts , "]
[169.54667282104492,"o","\r\n\u001b[11;117H gold blue dress, detached sleeves ,from behind, white thighhighs, black thighhighs, cinematic lighting\"], \"negative_p"]
[169.54689240455627,"o","\r\n\u001b[11;117Hprompt\": \"multiple breasts, (mutated hands and fingers:1.5 ), (long body :1.3), (mutation, poorly drawn :1.2) , black-"]
[169.54709124565125,"o","\r\n\u001b[11;117H-white, bad anatomy, liquid body, liquid tongue, disfigured, malformed, mutated, anatomical nonsense, text font ui, er"]
[169.54728960990906,"o","\r\n\u001b[11;117Hrror, malformed hands, long neck, blurred, lowers, lowres, bad anatomy, bad proportions, bad shadow, uncoordinated bod"]
[169.54749965667725,"o","\r\n\u001b[11;117Hdy, unnatural body, fused breasts, bad breasts, huge breasts, poorly drawn breasts, extra breasts, liquid breasts, hea"]
[169.54774069786072,"o","\r\n\u001b[11;117Havy breasts, missing breasts, huge haunch, huge thighs, huge calf, bad hands, fused hand, missing hand, disappearing a"]
[169.54794716835022,"o","\r\n\u001b[11;117Harms, disappearing thigh, username, blurry, JPEG artifacts, signature, 3D, 3D game, 3D game scene, 3D character, malfo"]
[169.5481824874878,"o","\r\n\u001b[11;117Hormed feet, extra feet, bad feet, poorly drawn feet, fused feet, missing feet, extra shoes, bad shoes, fused shoes, mo"]
[169.54842972755432,"o","\r\n\u001b[11;117Hore than two shoes, poorly drawn shoes, bad gloves, poorly drawn gloves, fused gloves, bad cum, poorly drawn cum, fuse"]
[169.54866409301758,"o","\r\n\u001b[11;117Hed cum, bad hairs, poorly drawn hairs, fused hairs, big muscles, ugly, bad face, fused face, poorly drawn face, cloned"]
[169.54886603355408,"o","\r\n\u001b[11;117Hd face, big face, long face, bad eyes, fused eyes poorly drawn eyes, extra eyes, malformed limbs, more than 2 nipples,"]
[169.54908156394958,"o","\r\n\u001b[11;117H, missing nipples, different nipples, fused nipples, bad nipples, poorly drawn nipples, black nipples, colorful nipple"]
[169.54927563667297,"o","\r\n\u001b[11;117Hes, gross proportions. short arm, (((missing arms))), missing thighs, missing calf, missing legs, mutation, duplicate,\r\n\u001b[11;117H, morbid, mutilated, poorly drawn hands, more than 1 left hand, more than 1 right hand, deformed, (blurry), disfigured"]
[169.54948472976685,"o","\r\n\u001b[11;117Hd, missing legs, extra arms, extra thighs, more than 2 thighs, extra calf, fused calf, extra legs, bad knee, extra kne"]
[169.5496757030487,"o","\r\n\u001b[11;117Hee, more than 2 legs, bad tails, bad mouth, fused mouth, poorly drawn mouth, bad tongue, tongue within mouth, too long"]
[169.5498707294464,"o","\r\n\u001b[11;117Hg tongue, black tongue, big mouth, cracked mouth, bad mouth, dirty face, dirty teeth, dirty pantie, fused pantie, poor"]
[169.55005955696106,"o","\r\n\u001b[11;117Hrly drawn pantie, fused cloth, poorly drawn cloth, bad pantie, yellow teeth, thick lips, bad cameltoe, colorful camelt"]
[169.55024766921997,"o","\r\n\u001b[11;117Htoe, bad asshole, poorly drawn asshole, fused asshole, missing asshole, bad anus, bad pussy, bad crotch, bad crotch se"]
[169.55046248435974,"o","\r\n\u001b[11;117Heam, fused anus, fused pussy, fused anus, fused crotch, poorly drawn crotch, fused seam, poorly drawn anus, poorly dra"]
[169.5506830215454,"o","\r\n\u001b[11;117Hawn pussy, poorly drawn crotch, poorly drawn crotch seam, bad thigh gap, missing thigh gap, fused thigh gap, liquid th"]
[169.55091762542725,"o","\r\n\u001b[11;117Hhigh gap, poorly drawn thigh gap, poorly drawn anus, bad collarbone, fused collarbone, missing collarbone, liquid coll"]
[169.5511496067047,"o","\r\n\u001b[11;117Hlarbone, strong girl, obesity, worst quality, low quality, normal quality, liquid tentacles, bad tentacles, poorly dra"]
[169.5513560771942,"o","\r\n\u001b[11;117Hawn tentacles, split tentacles, fused tentacles, missing clit, bad clit, fused clit, colorful clit, black clit, liquid"]
[169.5515856742859,"o","\r\n\u001b[11;117Hd clit, QR code, bar code, censored, safety panties, safety knickers, beard, furry ,pony, pubic hair, mosaic, excremen"]
[169.5518081188202,"o","\r\n\u001b[11;117Hnt, faeces, shit, futa, testis\", \"seed\": 160300754, \"all_seeds\": [160300754], \"subseed\": 2206812187, \"all_subseeds\": ["]
[169.55203485488892,"o","\r\n\u001b[11;117H[2206812187], \"subseed_strength\": 0, \"width\": 512, \"height\": 768, \"sampler_index\": 11, \"sampler\": \"DDIM\", \"cfg_scale\":"]
[169.55224657058716,"o","\r\n\u001b[11;117H: 12, \"steps\": 25, \"batch_size\": 1, \"restore_faces\": false, \"face_restoration_model\": null, \"sd_model_hash\": \"925997e9"]
[169.55244374275208,"o","\r\n\u001b[11;117H9\", \"seed_resize_from_w\": 0, \"seed_resize_from_h\": 0, \"denoising_strength\": null, \"extra_generation_params\": {}, \"inde"]
[169.55263757705688,"o","\r\n\u001b[11;117Hex_of_first_image\": 0, \"infotexts\": [\"masterpiece,best quality,loli,animal ears,full body,white flower hair ornament, "]
[169.55293726921082,"o","\r\n\u001b[11;117H cute face, long hair,white hair,star in eye, looking back ,from behind,small breasts , gold blue dress, detached slee"]
[169.55312943458557,"o","\r\n\u001b[11;117Heves ,from behind, white thighhighs, black thighhighs, cinematic lighting\\nNegative prompt: multiple breasts, (mutated"]
[169.55335807800293,"o","\r\n\u001b[11;117Hd hands and fingers:1.5 ), (long body :1.3), (mutation, poorly drawn :1.2) , black-white, bad anatomy, liquid body, li"]
[169.55355310440063,"o","\r\n\u001b[11;117Hiquid tongue, disfigured, malformed, mutated, anatomical nonsense, text font ui, error, malformed hands, long neck, bl"]
[169.5537462234497,"o","\r\n\u001b[11;117Hlurred, lowers, lowres, bad anatomy, bad proportions, bad shadow, uncoordinated body, unnatural body, fused breasts, b"]
[169.5539903640747,"o","\r\n\u001b[11;117Hbad breasts, huge breasts, poorly drawn breasts, extra breasts, liquid breasts, heavy breasts, missing breasts, huge h"]
[169.55417895317078,"o","\r\n\u001b[11;117Hhaunch, huge thighs, huge calf, bad hands, fused hand, missing hand, disappearing arms, disappearing thigh, username, "]
[169.5543668270111,"o","\r\n\u001b[11;117H blurry, JPEG artifacts, signature, 3D, 3D game, 3D game scene, 3D character, malformed feet, extra feet, bad feet, po"]
[169.55457663536072,"o","\r\n\u001b[11;117Hoorly drawn feet, fused feet, missing feet, extra shoes, bad shoes, fused shoes, more than two shoes, poorly drawn sho"]
[169.55476474761963,"o","\r\n\u001b[11;117Hoes, bad gloves, poorly drawn gloves, fused gloves, bad cum, poorly drawn cum, fused cum, bad hairs, poorly drawn hair"]
[169.55495357513428,"o","\r\n\u001b[11;117Hrs, fused hairs, big muscles, ugly, bad face, fused face, poorly drawn face, cloned face, big face, long face, bad eye"]
[169.55522108078003,"o","\r\n\u001b[11;117Hes, fused eyes poorly drawn eyes, extra eyes, malformed limbs, more than 2 nipples, missing nipples, different nipples"]
[169.5554280281067,"o","\r\n\u001b[11;117Hs, fused nipples, bad nipples, poorly drawn nipples, black nipples, colorful nipples, gross proportions. short arm, (("]
[169.55563044548035,"o","\r\n\u001b[11;117H((missing arms))), missing thighs, missing calf, missing legs, mutation, duplicate, morbid, mutilated, poorly drawn ha"]
[169.5558421611786,"o","\r\n\u001b[11;117Hands, more than 1 left hand, more than 1 right hand, deformed, (blurry), disfigured, missing legs, extra arms, extra t"]
[169.55603766441345,"o","\r\n\u001b[11;117Hthighs, more than 2 thighs, extra calf, fused calf, extra legs, bad knee, extra knee, more than 2 legs, bad tails, bad\r\n\u001b[11;117Hd mouth, fused mouth, poorly drawn mouth, bad tongue, tongue within mouth, too long tongue, black tongue, big mouth, c"]
[169.55624914169312,"o","\r\n\u001b[11;117Hcracked mouth, bad mouth, dirty face, dirty teeth, dirty pantie, fused pantie, poorly drawn pantie, fused cloth, poorl"]
[169.55647015571594,"o","\r\n\u001b[11;117Hly drawn cloth, bad pantie, yellow teeth, thick lips, bad cameltoe, colorful cameltoe, bad asshole, poorly drawn assho"]
[169.5566816329956,"o","\r\n\u001b[11;117Hole, fused asshole, missing asshole, bad anus, bad pussy, bad crotch, bad crotch seam, fused anus, fused pussy, fused "]
[169.5568928718567,"o","\r\n\u001b[11;117H anus, fused crotch, poorly drawn crotch, fused seam, poorly drawn anus, poorly drawn pussy, poorly drawn crotch, poor"]
[169.5570924282074,"o","\r\n\u001b[11;117Hrly drawn crotch seam, bad thigh gap, missing thigh gap, fused thigh gap, liquid thigh gap, poorly drawn thigh gap, po"]
[169.55728578567505,"o","\r\n\u001b[11;117Hoorly drawn anus, bad collarbone, fused collarbone, missing collarbone, liquid collarbone, strong girl, obesity, worst"]
[169.55748510360718,"o","\r\n\u001b[11;117Ht quality, low quality, normal quality, liquid tentacles, bad tentacles, poorly drawn tentacles, split tentacles, fuse"]
[169.55767822265625,"o","\r\n\u001b[11;117Hed tentacles, missing clit, bad clit, fused clit, colorful clit, black clit, liquid clit, QR code, bar code, censored,"]
[169.55787014961243,"o","\r\n\u001b[11;117H, safety panties, safety knickers, beard, furry ,pony, pubic hair, mosaic, excrement, faeces, shit, futa, testis\\nStep"]
[169.55808067321777,"o","\r\n\u001b[11;117Hps: 25, Sampler: DDIM, CFG scale: 12, Seed: 160300754, Size: 512x768, Model hash: 925997e9, Eta: 0.67, Clip skip: 2, E"]
[169.55828547477722,"o","\r\n\u001b[11;117HENSD: 31337\"], \"styles\": [\"None\", \"None\"], \"job_timestamp\": \"20221013130806\", \"clip_skip\": 2}\r"]
[169.5603048801422,"o","\n"]
[176.60057473182678,"o","Interrupted with signal 2 in <frame at 0x0000029C7FC8CFC0, file 'D:\\\\stable-diffusion-webui\\\\webui.py', line 118, cod"]
[176.60200476646423,"o","\r\n\u001b[11;117Hde webui>\r"]
[176.6152946949005,"o","\n"]
[177.27273058891296,"o","Terminate batch job (Y/N)? "]
[180.4319143295288,"o","y"]
[180.53283429145813,"o","\r"]
[180.54154229164124,"o","\n"]
[180.80710172653198,"o","\u001b[38;2;36;36;36m\u001b[7m \u001b[38;2;241;24;76m\u001b[48;2;36;36;36m\u001b[27m soloopooo \u001b[38;2;255;187;0m2022-10-13 13:09:47.5308   \u001b[38;2;51;221;45mD:/stable-diffusion-webui  \u001b[38;2;58;134;255mmaster \u001b[38;2;36;36;36m\u001b[48;2;241;24;76m    255 \u001b[38;2;241;24;76m\u001b[48;2;33;47;218m  \u001b[38;2;255;255;255m2m 52s 839ms \u001b[38;2;33;47;218m\u001b[49m\u001b[K\u001b[1C"]
[180.81898474693298,"o","\u001b[m\r\n\u001b[38;2;241;24;76m$\u001b[2C"]
[180.83442854881287,"o","\u001b[m"]
[181.2905728816986,"o","\u001b[93me"]
[181.30660820007324,"o","\u001b[m"]
[181.55330753326416,"o","\u001b[93m\bex"]
[181.56884503364563,"o","\u001b[m"]
[181.63060235977173,"o","\u001b[?25l\u001b[93m\u001b[12;4Hexi\u001b[?25h"]
[181.64659547805786,"o","\u001b[m"]
[181.83372735977173,"o","\u001b[?25l\u001b[92m\u001b[12;4Hexit\u001b[?25h"]
[181.849622964859,"o","\u001b[m"]
[182.05132412910461,"o","\r\n"]
